#udiv {
    margin-left: 600px;
    margin-top: 10px;
}
#uberwelcome{
    margin-left:600px;
    margin-top:20px;
}
#pdiv{
    margin-left:600px;
    margin-top:30px;
}
#sdiv{
    margin-left:600px;
    margin-top:40px;
}
#ndiv{
    margin-left:600px;
    margin-top:50px;
}
#supdiv{
    margin-left:600px;
    margin-top:60px;
}
#about{
    margin-left:600px;
    margin-top:70px;
}