<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/index.css}" rel="stylesheet" />
<head>
    <meta charset = "ISO-8859-1" />
    <title>Uber App Welcome</title>
</head>
<body onload="myFunction()">
<h1 id="uberwelcome">Welcome to Uber!</h1>
<form th:action="@{/User}" th:object="${User}" method="post">
    <div id="udiv">
        <label>UserName:</label>
        <input type="text"  name="username" placeholder="Please Input your username here" />
    </div>
    <div id="pdiv">
        <label>PassWord:</label>
        <input type="text"  name="password" placeholder="Please Input your password here" >
    </div>
    <input type="submit"  id="sdiv">
</form>
<div id="ndiv">
    Not Have An Account?
</div>
<div id="supdiv">
    <button id="sup">Sign UP</button>
</div>
<div id="about" th:name="help">
    We are here to help you!!!
</div>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>

</body>
</html>