<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Rides</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rides.css}" />
    <script type="module" th:src="@{/js/rides.js}"></script>
</head>
<body >
<p1>Welcome to Uber!</p1>
<div id="sridediv"><button id="sridebtn"> See All Rides</button></div>
<form th:action="@{/ridespost}" th:object="${Rides}" method="post">
    <div id="udiv">
        <label>FROM:</label>
        <input type="text"  name="from" placeholder="Please Input your start location" />
    </div>
    <div id="pdiv">
        <label>To:</label>
        <input type="text"  name="to" placeholder="Please Input your destination" >
    </div>
    <div id="ndiv">
        <label>Number of Passengers:</label>
        <input type="text"  name="passnum" placeholder="Please Input how many passengers" >
    </div>

    <input type="submit"  id="sdiv">
</form>
<div id="rridediv"><button id="rridebtn"> Request A New Ride</button></div>
</body>
</html>